body{
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 55em;
	min-height: 30em;
	overflow-x:scroll;
}
header ul,footer #ulRight {
	float:right;
}
header li,footer li,.mainSectionBut {
	display: inline;	
}
footer #ulLeft {
	float: left;
}
header, footer,#main {
	width: 100%;
}
header {
	margin-top: 0px;
	top: 0;
	height: 10%;
}
#main{	
	margin-top: 15%;
	height: 80%;	
}
.footerNavs{
	width: 100%;
	position: absolute;
	bottom: 2px;
	
}
.mainSectionBut{
	width: 20em;
	height: 15em;
}
.mainSectionBut,.footerNavs{
	background: rgb(242,242,242);
}


#main div{
	margin-top: 1em;
	margin-bottom: 1em;
}

#inputSearchText{
	width: 30em;
	height: 2em;
	border: 1px solid grey;

}
#inputSearchText:hover{
	width: 30em;
	height: 2em;
	border: 1px solid black;

}
#inputSearchText:focus{
	width: 30em;
	height: 2em;
	border: 1px solid rgb(66,133,244);

}

.inputSearchText{
	width: 12em;
	height: 2em;
	background: rgb(242,242,242);
	border: none;
}

.footerNavs li{
	margin-right: 0.2em;
	margin-left: 0.2em;
}
.footerNavs a{
	font-size: 0.8em;
	color: black;
	text-decoration: none;
}
.footerNavs a:hover{
	text-decoration: underline;
}
header a{
	font-size: 0.8em;
	color: black;
	text-decoration: none;
}
header a:hover{
	text-decoration: underline;
}
#submitLogIn{
	width: 8em;
	height: 2em;
	background-color: rgb(68,133,244);
	border: none;
	color: white;
	font-weight: bold;
}
header li{
	margin-left: 0.5em;
	margin-right: 0.5em;
}